/* font-family: "Noto Serif", serif; */
/* font-family: "Inter", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style  */
.primary-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-family: "Inter", sans-serif;
}
.title-color{
    color: #E95A08;
}
.title-h3{
    font-family: "Noto Serif", serif;
    font-size: 3.12rem;
    font-weight: 700;
}
.btn{
    color: white;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 1.187rem 5rem;
    border: none;
    margin-top: 1.8rem;
}
.display-flex{
    display: flex;
}

/* Header Section Style  */
.header{
    max-width: 1140px;
    margin: 0 auto;
}

/* Nav Style  */
.navbar ul li{
    list-style: None;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
}
.navbar ul .menu{
    color: #8987A1;
}
.nav{
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    gap: 1rem;
}
.nav-logo img{
    width: 100%;
    height: auto;
}
/* Banner Style  */
.banner{
    justify-content: space-between;
    align-items: end;
    margin-top: 7.5rem;
}
.banner-left h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 0.82rem;
}

/* Our Plants Style  */
.Plants-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 7.5rem;
}

/* Card Section Style  */
.our-plants{
    text-align: center;
}
.our-plants h3{
    margin-bottom: 1rem;
}
.our-plants p{
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.card{
    text-align: center;
}
.card img{
    width: 100%;
    height: auto;
    margin-bottom: 1.85rem;
}
.card h4{
    font-family: "Inter", sans-serif;
    font-size: 1.37rem;
    font-weight: 500;
    margin-bottom: 1.1rem;
}
.card span{
    font-family: "Inter", sans-serif;
    font-size: 1.37rem;
    font-weight: 700;
}

/* /* Plants Lover Style  */
.plants-lover-container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    margin-top: 12rem;
}
.badge{
    max-width: 285px;
    height: 285px;
    position: absolute;
    bottom: 73%;
    left: 31%; 
} 
.plants-lover-container img{
    width: 100%;
    height: auto;
}
.plants-lover{
    gap: 3.75rem;
    align-items: center;
}
.plants-lover-left{
    flex: 1;
}
.plants-lover-left img{
    width: 100%;
    height: auto;
}
ul li{
    color: rgba(0, 0, 0, 0.5);
    margin-left: 2.5rem;
}
.plants-lover-right{
    font-family: "Noto Serif", serif;
    font-size: 1.9rem;
    font-weight: 600;
    flex: 1;
}
.plants-lover-right h2{
    max-width: 510px;
    margin-bottom: 1rem;
}

/* Latest Deals Style  */
.latest-deals{
    max-width: 1140px;
    text-align: center;
    margin: 7rem auto;
}
.deals-title p{
    max-width: 880px;
    margin: 1rem auto;
}

/* Latest Deals Image Section  */
.deals-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    height: 420px;
    margin: 6rem 0;
}
.image-1,.image-2,.image-3{
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Noto Serif", serif;
}
.image-1 a, .image-2 a, .image-3 a{
    color: white;
    font-family: "Inter", sans-serif;
}
.image-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("/assets/deal-bloom.png");
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.image-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("/assets/deal-ana.png");
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.image-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("/assets/deal-zabo.png");
    background-repeat: no-repeat;
    border-radius: 1rem; 
    font-size: 2rem;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

/* Colorful Bunch  */
.colorful-bunch{
    background-image: url('/assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}
.input-space{
    max-width: 830px;
    text-align: center;
}
.input-space h3{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Noto Serif", serif;
    margin-bottom: 2rem;
}
.input-space input{
    font-size: 1rem;
    padding: 1rem 2rem;
    width: 40rem;
    height: 50px;
    outline: none;
}
.input-space button{
    width: 180px;
    height: 3.12rem;
}
.input-space button{
    background-color: #E95A08;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.input{
    gap: 0;
}










/* Responsive Mobile Device */
@media screen and (max-width: 576px) {
    /* Banner Section  */
    ul .home, ul .menu{
        display: none;
    }
    .nav{
        padding: 1rem;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left{
        padding: 1.75rem 1rem 4rem 1rem;
    }
    .banner-left h1{
        font-size: 2.5rem;
    }
    .our-plants h3, .plants-lover-right h2{
        font-size: 1.8rem;
    }
   
    /* Card Section Style  */
    .Plants-container{
        margin: 0;
    }
    .card-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }
    .our-plants p{
        padding: 0 1rem;
    }
    .btn{
    padding: 1.187rem 2.5rem;
    }

    /* Plants Lover  */
    .badge{
        display: none;
    }
    .plants-lover{
        flex-direction: column;
    }
    .plants-lover-container{
        margin-top: 2.5rem;
        padding: 1rem;
    }

    /* Latest Deals Image  */
   .deals-image{
    grid-template-columns: 1fr;
    justify-items: center;
    height: auto;
   }
   .image-3{
    grid-row: auto;
   }
   .image-1,
   .image-2,
   .image-3{
    grid-column: auto; 
    font-size: 1.1rem;
    width: 23rem;
    height: 11rem;
    margin: 0 1rem;
   }
  
   /* Colorful Bunch  */
   .colorful-bunch{
    width: 100%;
    height: 18rem;
   }
   .input-space{
    width: 80%;
   }
   .input-space input{
    width: 90%;
   }
   .input-space h3{
    font-size: 1.5rem;
   }
}